#framechat {
    width: 100%;
    max-width: 1000px;
    height: 50vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    box-shadow: 0px 0px 17px #bbbbbb;
    border-radius: 13px;
    overflow: hidden;

    letter-spacing: 0.1px;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
  margin:0 auto;
}
@media screen and (max-width: 360px) {
  #framechat {
    height: 100vh;
  }
}



#framechat .content {
  float: right;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

#framechat .content .header {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #f5f5f5;
  overflow: hidden;
  box-shadow: -1px 1px 5px #e2e2e2;

}
#framechat .content .header i {
  height: 20px;
  font-size:20px;
  width:20px;
  border-radius: 50%;
  float: left;
  margin: 11px 12px 0 13px;
}
#framechat .content .header p {
    float: left;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
  line-height:43px;
}

#framechat .content .messages {
    height: auto;
    min-height: calc(100% - 90px);
    max-height: calc(100% - 90px);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

#framechat .content .messages ul {
  overflow: hidden;
    margin: 0;
    padding: 0;
}


#framechat .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#framechat .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#framechat .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#framechat .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#framechat .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#framechat .content .messages ul li.sent p {
  background: #4caf50;
  color: #f5f5f5;
}
#framechat .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#framechat .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
#framechat .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#framechat .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #framechat .content .messages ul li p {
    max-width: 300px;
  }
}
#framechat .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
      background: #E6EAEA;
}
#framechat .content .message-input .wrap {
  position: relative;
}

#framechat .content .message-input .wrap .emoji-wysiwyg-editor {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 45px);
  padding: 14px;
  font-size: 0.9em;
  color: #32465a;
  height:45px;
  outline:none;
  background:#fff;
  position: relative;;
  overflow:hidden;
}



#framechat .content .message-input .wrap .emoji-picker-icon {
    right: 55px;
    top: 11px;
    font-size: 22px;
    opacity: 0.9;
    color: #4caf50;
}
#framechat .content .message-input .wrap .emoji-picker {
    z-index: 5001;
    bottom: 0;
    border: none;
    border-radius: 5px 0px 0px 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
}


#framechat .content .message-input .wrap .emoji-menu {
    bottom: 1px;
    border: none;
    box-shadow: none;
    border-radius: 5px 0px 0px 0px;
    -webkit-box-shadow: none;
}

#framechat .content .message-input .wrap .emoji-menu .emoji-items-wrap {
      overflow-y: scroll;
  overflow-x:hidden;
}

  #framechat .content .message-input .wrap .emoji-menu .emoji-items-wrap::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

  #framechat .content .message-input .wrap .emoji-menu .emoji-items-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}



#framechat .content .message-input .wrap .emoji-menu-tabs .emoji-menu-tab {
  cursor:pointer;
}

#framechat .content .message-input .wrap button {
  float: right;
  border: none;
  width: 45px;
  height:45px;
  line-height:42px;
  cursor: pointer;
  background: #4caf50;
  color: #f5f5f5;
}

#framechat .content .message-input .wrap button:hover {
  background: #47A44B ;
}
#framechat .content .message-input .wrap button:focus {
  outline: none;
}
.fade-in {
animation: fadeIn ease 1s;
-webkit-animation: fadeIn ease 1s;
-moz-animation: fadeIn ease 1s;
-o-animation: fadeIn ease 1s;
-ms-animation: fadeIn ease 1s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");


/* absolute position the controls button in the top right corner of the world container */
.world {
  position: relative;
}
/* hide the .controls container by default
the visibility and opacity are modified in the script as the countries are drawn
*/
.world .controls {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out;
  transition-delay: 0.2s;
}
.world .controls button {
  background: none;
  border: none;
  padding: 0.5rem;
  color: inherit;
  /* width: 62px; */
  /* height: 62px; */
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
}
/* on hover & when focused make the button fully opaque */
.world .controls button:hover,
.world .controls button:focus {
  opacity: 1;
}
/* rotate the first button to point the opposite way */
.world .controls button:first-of-type {
  transform: rotate(180deg);
}
.world .controls button svg {
  width: 100%;
  height: 100%;
  display: block;
}

/* size the svg to cover the viewport width */
.world > svg {
  /* width: 100vw; */
  height: auto;
  display: block;
}
/* style the text positioned above the map */
svg text {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: xx-small;
  font-weight: bold;
  font-family: "Montserrat", cursive;
  fill: currentColor;
}
/* style the path elements describing the country with a subdued color
specify a variant for the stages and for the selected stage in particular
*/
svg path.country {
  fill: #f5f5f5;
  opacity: 0.4;
  stroke: grey;
  stroke-width: 0.1px;
  transition: all 0.2s ease-out;
}
path.country.stage {
  fill: #fff;
  opacity: 0.8;

}
path.country#selection {
  opacity: 1;
}
