{% extends 'base.html' %}{%block content%}
{% if doc==0 %}
<div class="row">
{% for doctor in doctors %}

<div class="col-md-4">
             <div class="card card-profile">
               <div class="card-avatar">
                 <a href="javascript:;">
                   <img class="img" src="/static/img/{{doctor.name}}.jpg" />
                 </a>
               </div>
               <div class="card-body">
                 <h6 class="card-category text-gray">{{department[details[doctor.id].department].department}}</h6>
                 <h4 class="card-title">{{doctor.name}}</h4>
                 <p class="card-description">
                   {{hospital[details[doctor.id].hospital_id].name}}<br>
                   {{qualification[details[doctor.id].qualification].qualification}}<br>
                   {% if details[doctor.id].experience!="" %}Experience :{{details[doctor.id].experience}} Years{% endif %}
                 </p>
                 <a href="javascript:;" class="btn btn-success btn-round">Book Appointment</a>
               </div>
             </div>
           </div>
{% endfor %}
</div>
{% else %}
<div class="row">
  <div class="col-md-12">
               <div class="card">
                 <div class="card-header card-header-success">
                   <h4 class="card-title ">Previous Tests</h4>
                   <p class="card-category"> Details of your past examinations.</p>
                 </div>
                 <div class="card-body overflow-auto">
                   <div class="table-responsive">
                     <table class="table table-hover">
                       <thead class=" text-success">
                         <th>
                           S.No
                         </th>
                         <th>
                           Affected Area
                         </th>
                         <th>
                           Image
                         </th>
                         <th>
                           Report
                         </th>
                         <th>
                           Appointments
                         </th>
                       </thead>
                       <tbody >
{% for report in reports  %}

                         <tr>
                           <td>
                            {{loop.index}}
                           </td>
                           <td>
                             {{area[report.affected_area]}}
                           </td>
                           <td>
                             <img class="img img-thumbnail" style="width:7em;" src="./static/uploads/{{report.image}}"
                           </td>
                           <td>
                             <button type="button" class="btn btn-small btn-round btn-success" name="Show Report">Show Report</button>
                           </td>
                           <td >
                             <button type="button" class="btn btn-small btn-round btn-success" name="Book Appointment">Book Appontment</button>
                           </td>
                        </tr>
                        {% endfor %}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
  </div>
{% endif %}

{% endblock %}
{% block scripts %}


{% endblock %}
