{% extends 'base.html' %}{%block content%}
{% if doc==0 %}
<div class="row">
{% for doctor in doctors %}

<div class="col-md-4">
             <div class="card card-profile">
               <div class="card-avatar">
                 <a href="javascript:;">
                   <img class="img" src="/static/img/{{doctor.name}}.jpg" />
                 </a>
               </div>
               <div class="card-body">
                 <h6 class="card-category text-gray">{{department[details[doctor.id].department].department}}</h6>
                 <h4 class="card-title">{{doctor.name}}</h4>
                 <p class="card-description">
                   {{hospital[details[doctor.id].hospital_id].name}}<br>
                   {{qualification[details[doctor.id].qualification].qualification}}<br>
                   {% if details[doctor.id].experience!="" %}Experience :{{details[doctor.id].experience}} Years{% endif %}
                 </p>
                 <a href="./book_appointment?doctor_id={{doctor.id}}&pres_id={{pres}}" class="btn btn-success btn-round">Book Appointment</a>
               </div>
             </div>
           </div>
{% endfor %}
</div>
{% elif doc==1 %}
<div class="row">
  <div class="col-md-12 mr-auto">
               <div class="card">
                 <div class="card-header card-header-success">
                   <h4 class="card-title ">Previous Tests</h4>
                   <p class="card-category"> Details of your past examinations.</p>
                 </div>
                 <div class="card-body overflow-auto">
                   <div class="table-responsive">
                     <table class="table table-hover text-center">
                       <thead class=" text-success">
                         <th>
                           S.No
                         </th>
                         <th>
                           Affected Area
                         </th>
                         <th>
                           Image
                         </th>
                         <th>
                           Report
                         </th>
                         <th>
                           Appointments
                         </th>
                       </thead>
                       <tbody >
{% for report in reports  %}

                         <tr>
                           <td>
                            {{loop.index}}
                           </td>
                           <td>
                             {{area[report.affected_area]}}
                           </td>
                           <td>
                             <img class="img img-thumbnail" style="width:7em;" src="./static/uploads/{{report.image}}"
                           </td>
                           <td>
                             <a href="" class="btn btn-sm  btn-success" name="Show Report">Show Report</a>
                           </td>
                           <td >

                             <a href="./book_appointment?doctor_id={{doctor}}&pres_id={{report.id}}" class="btn btn-sm  btn-success" name="Book Appointment">Book Appontment</a><br>
                             <a href="" class="text-success small" name="Previous Appointments">Previous Appontments</a>

                           </td>
                        </tr>
                        {% endfor %}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mr-auto">
                 <div class="card">
                   <div class="card-header card-header-success">
                     <h4 class="card-title ">Date & Time</h4>
                     <p class="card-category"> Please Select Date & Time for Appointment.</p>
                   </div>
                   <div class="card-body overflow-auto text-center">

     <input type="text" class="btn btn-round btn-success datetimepicker mx-auto" /><br>
     <button id="submit" class="form-group btn btn-success btn-sm">Confirm Booking</button>

</div>
</div>
</div>
</div>



{% endif %}

{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $('.datetimepicker').datetimepicker({
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-screenshot',
          clear: 'fa fa-trash',
          close: 'fa fa-remove'
      },
      format: 'YYYY-MM-DD HH:mm'
  });
$(document).on('click','#submit',function(){
  var value=$('.datetimepicker').val();
  window.location.href="./book_appointment?pres_id={{pres}}&doctor_id={{doctor}}&time="+value;
})
</script>

{% endblock %}
