{% extends 'base.html' %}

       {% block content %} <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">admin_panel_settings</i>
                  </div>
                  <p class="card-category">Registered Doctors</p>
                  <h3 class="card-title">132
<!--                    <small>GB</small>-->
                  </h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="javascript:;">Get More Space...</a>
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">local_hospital</i>
                  </div>
                  <p class="card-category">Hospital TieUps</p>
                  <h3 class="card-title">3</h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">supervised_user_circle</i>
                  </div>
                  <p class="card-category">Satisfied Patients</p>
                  <h3 class="card-title">1543</h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">online_prediction</i>
                  </div>
                  <p class="card-category">Prediction Accuracy</p>
                  <h3 class="card-title">92%</h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <canvas id="sexRatio"></canvas>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Occurance</h4>
                  <p class="card-category">
                    <span class="text-success">Genderwise percentage occurance.</p>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <canvas id="ageRatio"></canvas>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Distribution</h4>
                  <p class="card-category">Age Wise cases of skin cancer.</p>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Completed Tasks</h4>
                  <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> {% endblock %}
      {% block scripts %}
<script>
var ctx = document.getElementById('sexRatio');
var data = {
    datasets: [{
        data: [62, 37, 1],
        borderColor: [
        'rgba(255, 255, 255,1)',
        'rgba(240, 150, 61,1)',
        'rgba(196,44,33,1)'
    ],
    backgroundColor : [
        'rgba(255, 255, 255,.8)',
        'rgba(240, 150, 61,0.8)',
        'rgba(196,44,33,0.8)'
    ],
    hoverBackgroundColor:[
        'rgba(255, 255, 255,1)',
        'rgba(240, 150, 61,1)',
        'rgba(196,44,33,1)'
    ]

    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Male',
        'Female',
        'Others'
    ]
};
var options = {
    legend:{
        labels:{
        boxWidth:10,
        fontColor: '#fff',
    }},
};
var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: options,


});
</script>

<script>
var c = document.getElementById('ageRatio');
var data = {
    datasets: [{
        data: [{
            x:15,
            y:350
        }],
        borderColor: [
        'rgba(255, 255, 255,1)',
        'rgba(240, 150, 61,1)',
        'rgba(196,44,33,1)'
    ],
    backgroundColor : [
        'rgba(255, 255, 255,.5)',
        'rgba(240, 150, 61,0.5)',
        'rgba(196,44,33,0.5)'
    ],
    hoverBackgroundColor:[
        'rgba(255, 255, 255,1)',
        'rgba(240, 150, 61,1)',
        'rgba(196,44,33,1)'
    ]
    
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Male',
        'Female',
        'Others'
    ]
};
var options = {
    legend:{
        labels:{
        boxWidth:10,
        fontColor: '#fff',
    }},
};
var myPieChart = new Chart(c, {
    type: 'doughnut',
    data: data,
    options: options,
    
    
});
</script>{% endblock %}

