{% extends 'base.html' %}

       {% block content %} <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">admin_panel_settings</i>
                  </div>
                  <p class="card-category">Registered Doctors</p>
                  <h3 class="card-title">132
<!--                    <small>GB</small>-->
                  </h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="javascript:;">Get More Space...</a>
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">local_hospital</i>
                  </div>
                  <p class="card-category">Hospital TieUps</p>
                  <h3 class="card-title">3</h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">supervised_user_circle</i>
                  </div>
                  <p class="card-category">Satisfied Patients</p>
                  <h3 class="card-title">1543</h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i> Tracked from Github
                  </div>
                </div>
-->
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">online_prediction</i>
                  </div>
                  <p class="card-category">Prediction Accuracy</p>
                  <h3 class="card-title">92%</h3>
                </div>
<!--
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                  </div>
                </div>
-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-success">
                  <canvas id="sexRatio"></canvas>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Daily Sales</h4>
                  <p class="card-category">
                    <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-warning">
                  <div class="ct-chart" id="websiteViewsChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Email Subscriptions</h4>
                  <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-danger">
                  <div class="ct-chart" id="completedTasksChart"></div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Completed Tasks</h4>
                  <p class="card-category">Last Campaign Performance</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <h4 class="card-title ">Skin Tumor Probability</h4>
                      <!-- <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">bug_report</i> Bugs
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">code</i> Website
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">cloud</i> Server
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul> -->
                    </div>
                  </div>
                </div>
                <div class="card-body">{% if 'user_id' in session %}
                  <div class="tab-content" id="result">
                    <form method="POST" action="" class="form1" onsubmit="return false">


                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Location:</label>
                          <select class="form-control selectpicker" data-style="btn btn-link" id="locstion" name='gender' style="all:none;" required>
                            <option value="NF">Neck/Face</option>
                            <option value="UA">Upper Abdomen</option>
                            <option value="LA">Lower Abdomen</option>
                            <option value="A">Arms</option>

                          </select>
                        </div>
    <div class="form-group">

      <label for="exampleFormControlFile1" id="file1">Upload Image</label>
      <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file1" id="file-input">
      <span class="input-group-btn">
            <button type="button" style="margin-left:10px;" class="btn btn-fab btn-round btn-primary" id="fileButton">
                <i class="material-icons">attach_file</i>
            </button><br>

    </div>
    <div class="form-group text-center">
    <button type="submit" name="submit" value="predict_cancer" id="submitForm1" class="btn btn-primary btn-round predict_cancer">Predict</button></div>

  </form>

                  </div>
                  {% else %}
                  <div class="tab-content" id="result">
                    Please <a href="/login" class="link"><b> LOGIN </b></a> or <a href="/singup" class="link"><b> SIGN-UP </b></a> to use this feature.
                      </div>
                      {% endif %}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">Skin Tumor Size</h4>
                  <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                </div>
                <div class="card-body ">
                <div class="tab-content" id="result2">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% endblock %}
      {% block scripts %}
<script>
var ctx = document.getElementById('sexRatio');
var data = {
    datasets: [{
        data: [62, 37, 1],
        borderColor: [
        'rgba(255, 255, 255,1)',
        'rgba(240, 150, 61,1)',
        'rgba(196,44,33,1)'
    ],
    backgroundColor : [
        'rgba(255, 255, 255,.5)',
        'rgba(240, 150, 61,0.5)',
        'rgba(196,44,33,0.5)'
    ],
    hoverBackgroundColor:[
        'rgba(255, 255, 255,1)',
        'rgba(240, 150, 61,1)',
        'rgba(196,44,33,1)'
    ]

    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'Male',
        'Female',
        'Others'
    ]
};
var options = {
    legend:{
        labels:{
        boxWidth:10,
        fontColor: '#fff',
    }},
};
var myPieChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: options,


});
</script>
<script>
  $(document).on('change','.form-control-file',function(e){
    $('#file1').html(e.target.files[0].name);
  });
  $(document).on('click','#fileButton',function(){
    $('#file1').click();
  });
  $(document).on('click','#submitForm1',function(){
    form_submit();
  })

  function form_submit(){

    var form=$('.form1')[0];
	var formdata=new FormData(form);
  formdata.append('submit','predict_cancer');
  $('#result').html('Processing...');
  // for (var pair of formdata.entries()) {
  //     console.log(pair[0]+ ', ' + pair[1]);
  // }
		$("#submitForm1").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "./",
            data: formdata,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
				$('#result').html(data);
				$("#submitForm1").prop("disabled", false);
        console.log(data);

            },
            error: function (e) {

                form_error('Error submitting form please try again.','#submitForm')
                console.log("ERROR : ", e);
                $("#submitForm1").prop("disabled", false);

            }
		});

  }
  </script>{% endblock %}
