{% extends 'base.html' %}{%block content%}
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-tabs card-header-success">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <h4 class="card-title ">Skin Tumor Probability</h4>
            <!-- <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#profile" data-toggle="tab">
                  <i class="material-icons">bug_report</i> Bugs
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#messages" data-toggle="tab">
                  <i class="material-icons">code</i> Website
                  <div class="ripple-container"></div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#settings" data-toggle="tab">
                  <i class="material-icons">cloud</i> Server
                  <div class="ripple-container"></div>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="card-body">{% if 'user_id' in session %}
        <div class="tab-content" id="result">
          <form method="POST" action="" class="form1" onsubmit="return false">


              <div class="form-group">
                <label for="exampleFormControlSelect1">Location:</label>
                <select class="form-control selectpicker" data-style="btn btn-link" id="locstion" name='affected_area' style="all:none;" required>
                  <option value="NF">Neck/Face</option>
                  <option value="UA">Upper Abdomen</option>
                  <option value="LA">Lower Abdomen</option>
                  <option value="A">Arms</option>

                </select>
              </div>
<div class="form-group">

<label for="exampleFormControlFile1" id="file1">Upload Image</label>
<input type="file" class="form-control-file" id="exampleFormControlFile1" name="file1" id="file-input">
<span class="input-group-btn">
  <button type="button" style="margin-left:10px;" class="btn btn-fab btn-round btn-success" id="fileButton">
      <i class="material-icons">attach_file</i>
  </button><br>

</div>
<div class="form-group text-center">
<button type="submit" name="submit" value="predict_cancer" id="submitForm1" class="btn btn-success btn-round predict_cancer">Predict</button></div>

</form>

        </div>
        {% else %}
        <div class="tab-content" id="result">
          Please <a href="/login" class="link"><b> LOGIN </b></a> or <a href="/singup" class="link"><b> SIGN-UP </b></a> to use this feature.
            </div>
            {% endif %}
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Skin Tumor Size</h4>
        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
      </div>
      <div class="card-body ">
      <div class="tab-content" id="result2">
        <form class="form2" moethod="POST" action="">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Mass(in grams)</label>
                                  <input type="text" name="mass" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Size</label>
                                  <input type="text" name="size" class="form-control">
                                </div>
                              </div>
                              </div>
                              <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Malign Ratio</label>
                                  <input type="text" name="mratio" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="bmd-label-floating">Damage Size</label>
                                  <input type="text" name="dsize" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Exposed Area</label>
                                <input type="text" name="exparea" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="bmd-label-floating">Damage Ratio</label>
                                <input type="text" name="dratio" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">Standard Deviation</label>
                              <input type="text" name="std_dev" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">Malign Error</label>
                              <input type="text" name="merror" class="form-control">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label class="bmd-label-floating">Malign Penalty</label>
                              <input type="text" name="mpenalty" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" name='checkbox' type="checkbox" value="default" checked>
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                            Use default values.
                          </label>
                        </div>
                        <div class="text-center">
                            <button name="submit" id="submitForm2" class="btn btn-success btn-round">Predict</button></div>
                    <div class="clearfix"></div>
                  </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 mr-auto">
               <div class="card">
                 <div class="card-header card-header-success">
                   <h4 class="card-title ">Previous Tests</h4>
                   <p class="card-category"> Details of your past examinations.</p>
                 </div>
                 <div class="card-body overflow-auto">
                   <div class="table-responsive">
                     <table class="table table-hover text-center">
                       <thead class=" text-success">
                         <th>
                           S.No
                         </th>
                         <th>
                           Affected Area
                         </th>
                         <th>
                           Image
                         </th>
                         <th>
                           Report
                         </th>
                         <th>
                           Appointments
                         </th>
                       </thead>
                       <tbody >
{% for report in reports  %}

                         <tr>
                           <td>
                            {{loop.index}}
                           </td>
                           <td>
                             {{area[report.affected_area]}}
                           </td>
                           <td>
                             <img class="img img-thumbnail" style="width:7em;" src="./static/uploads/{{report.image}}"
                           </td>
                           <td>
                             <a href="./report?pres_id={{report.id}}" target="_blank" class="btn btn-sm  btn-success" name="Show Report">Show Report</a>
                           </td>
                           <td >

                             <a href="./book_appointment?pres_id={{report.id}}" class="btn btn-sm  btn-success" name="Book Appointment">Book Appontment</a><br>
                             <a href="./book_appointment?pres_id={{report.id}}" class="text-success small" name="Previous Appointments">Previous Appontments</a>

                           </td>
                        </tr>
                        {% endfor %}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
  </div>
{% endblock %}
{% block scripts %}
<script>
  $(document).on('change','.form-control-file',function(e){
    $('#file1').html(e.target.files[0].name);
  });
  $(document).on('click','#fileButton',function(){
    $('#file1').click();
  });
  $(document).on('click','#submitForm1',function(){
    form_submit();
  })
  $(document).on('click','#submitForm2',function(){
    form2_submit();
  })
  $(document).on('click','#force_check',function(){
    force_check($('#force_check').val());
  })

  function form_submit(){

    var form=$('.form1')[0];
	var formdata=new FormData(form);
  formdata.append('submit','predict_cancer');
  $('#result').html('Processing...');
  // for (var pair of formdata.entries()) {
  //     console.log(pair[0]+ ', ' + pair[1]);
  // }
		$("#submitForm1").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "./pathology",
            data: formdata,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
				$('#result').html(data);
				$("#submitForm1").prop("disabled", false);
        console.log(data);

            },
            error: function (e) {

                form_error('Error submitting form please try again.','#submitForm')
                console.log("ERROR : ", e);
                $("#submitForm1").prop("disabled", false);

            }
		});

}
    function form2_submit(){

      var form=$('.form2')[0];
  	var formdata=new FormData(form);
    formdata.append('submit','tumor_size');
    $('#result2').html('Processing...');
    for (var pair of formdata.entries()) {
        console.log(pair[0]+ ', ' + pair[1]);
     }
  $("#submitForm2").prop("disabled", true);

      $.ajax({
          type: "POST",
          enctype: 'multipart/form-data',
          url: "./pathology",
          data: formdata,
          processData: false,
          contentType: false,
          cache: false,
          timeout: 600000,
          success: function (data) {
      $('#result2').html(data);
      $("#submitForm2").prop("disabled", false);
      console.log(data);

          },
          error: function (e) {

              form_error('Error submitting form please try again.','#submitForm')
              console.log("ERROR : ", e);
              $("#submitForm2").prop("disabled", false);

          }
  });

}
  function force_check(path){
    var formdata= new FormData();
    formdata.append('submit','force_check');
    formdata.append('path',path);
      $('#result').html('Processing...');
    $.ajax({
        type: "POST",
        enctype: 'multipart/form-data',
        url: "./pathology",
        data: formdata,
        processData: false,
        contentType: false,
        cache: false,
        timeout: 600000,
        success: function (data) {
    $('#result').html(data);
    $("#").prop("disabled", false);
    console.log(data);

        },
        error: function (e) {

            form_error('Error submitting form please try again.','#submitForm')
            console.log("ERROR : ", e);
            $("#submitForm1").prop("disabled", false);

        }
});
  }

  </script>
{% endblock %}
