
      <div class="card card-nav-tabs text-center">
        <!-- <div class="card-header card-header-primary">
          {{data.Blog.title}}
        </div> -->
        {% if data.Blog.image!=None %}<img class="card-img-top" src="./static/uploads/{{data.Blog.image}}" rel="nofollow" alt="Card image cap">{% endif %}
        <div class="card-body">
          <h4 class="card-title text-success font-weight-normal">{% if data.Blog.link==None %}{{data.Blog.title}}{% else %}<a href="{{data.Blog.link}}" class="text-success" target="_blank">{{data.Blog.title}}</a> {%endif%}</h4>
          <p class="card-text" style="white-space:pre-wrap; text-align:left;">{{data.Blog.desc}}</p>
      <!-- <a href="" class="btn btn-success btn-sm open_blog" id="open_blog:{{data.Blog.id}}" data-toggle="modal" data-target="#exampleModalLong">Read More</a> &#xB7; -->
      {% if data.Blog.link!=None %}
      <a href="{{data.Blog.link}}" class="btn btn-info btn-sm" target="_blank">Visit Link</a> &#xB7;
      {% endif %}
        </div>
        <div class="card-stats pr-3 pl-3  ">
                  <div class="author ml-0">
                      <a href="#pablo">
                         <img src="/static/img/{% if data.UserTable.user_role==3 %}{{data.UserTable.image}}{% else %}{{data.UserTable.name}}.jpg{% endif %}" rel="nofollow" alt="..." class="avatar img-raised">
                         <span>{{data.UserTable.name}}</span>
                      </a>
                  </div>



                 <div class="stats ml-auto">

                      <i class="material-icons">arrow_upward</i> {% if data.Upvotes==None %}0{% else %}{{data.Upvotes}}{% endif %} &#xB7;
                      <i class="material-icons">arrow_downward</i> {% if data.Downvotes==None %}0{% else %}{{data.Downvotes}}{% endif %}
                  </div>
              </div>
        <div class="card-footer mt-3 text-muted">
          {% if data.timediff.days>=1 %}{{data.timediff.days}} days
          {% elif data.timediff.seconds>=3600  %}{{(data.timediff.seconds/3600)|int}} hours
          {% elif data.timediff.seconds>=60 %}{{(data.timediff.seconds/60)|int}} minutes
          {% else %}{{data.timediff.seconds}} seconds
          {% endif %}
          ago


        </div>
        </div>
        <hr>
        <div class="h5">Comments:</div>
        <div class="card" >
  <div class="card-body">
    <h4 class="card-title"></h4>

    <div class="input-group">
    <div class="input-group-prepend">
      <img src="/static/img/{% if user_data.user_role==3 %}{{user_data.image}}{% else %}{{user_data.name}}.jpg{% endif %}" rel="nofollow" alt="..." class="ml-0 img-raised" style="width: 30px;      height: 30px;      overflow: hidden;      border-radius: 50%;margin-right: 5px;">
    </div>
    <input type="text" class="form-control comment_text" id="comment_text" name="comment" placeholder="Comment...">
    </div>
    <div class="text-right">
        <button id="post_comment:{{data.Blog.id}}" class="btn btn-sm btn-success post_comment">Post</button>
    </div>

  </div>
</div>
{% for c in comment %}
<div class="card" >
<div class="card-body">


<div class="input-group">
<div class="input-group-prepend">
<img src="/static/img/{% if c.UserTable.user_role==3 %}{{c.UserTable.image}}{% else %}{{c.UserTable.name}}.jpg{% endif %}" rel="nofollow" alt="..." class="ml-0 img-raised" style="width: 30px;      height: 30px;      overflow: hidden;      border-radius: 50%;margin-right: 5px;">

</div>
<h6 class="card-title mt-2 ml-2">{{c.UserTable.name}}</h6>

</div>
<div class="ml-5 mt-1 ">{{c.Comment.desc}}</div>
<div class="card-stats" style="zoom:0.7">
 <div class="stats ml-auto">

  <i class="material-icons">arrow_upward</i> {% if c.CUpvotes==None %}0{% else %}{{c.CUpvotes}}{% endif %} &#xB7;
  <i class="material-icons">arrow_downward</i> {% if c.CDownvotes==None %}0{% else %}{{c.CDownvotes}}{% endif %}
</div>
</div>
</div>
</div>
{% endfor %}
