<!DOCTYPE html>
<html>
<head>
	<title>Test Page</title>

</head>
<body>
	<form method="POST" action="" >

		<input type="text" name="mass" placeholder="Mass"><br>
		<input type="text" name="size" placeholder="Size"><br>
		<input type="text" name="mratio" placeholder="Malign Ratio"><br>
		<input type="text" name="damage" placeholder="Damage Size"><br>
		<input type="text" name="exparea" placeholder="Exposed Area"><br>
		<input type="text" name="dratio" placeholder="Damage Ratio"><br>
		<input type="submit" name="submit" value="tumor_size"> 
	</form>
	<br><br><br>
	<form action = "" method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "image" accept="image/*" />
         <input type = "submit" name="submit" value="predict_cancer" />
      </form>

      <br><br><br>
      <div style="width: 400px;">
      <canvas id="myChart" width="400" height="400"></canvas></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

</body>
</html>
