<!DOCTYPE html>
<html>
<head>
	<title>Test Page</title>
</head>
<body>
	<form method="POST" action="" >

		<input type="text" name="mass" placeholder="Mass"><br>
		<input type="text" name="size" placeholder="Size"><br>
		<input type="text" name="mratio" placeholder="Malign Ratio"><br>
		<input type="text" name="damage" placeholder="Damage Size"><br>
		<input type="text" name="exparea" placeholder="Exposed Area"><br>
		<input type="text" name="dratio" placeholder="Damage Ratio"><br>
		<input type="submit" name="Submit" value="submit"> 
	</form>
</body>
</html>